//TODO: review all css styles for card component

.card {
  background: var(--background-color-light);
  border-radius: 12px;
  box-shadow: 0 4px 15px var(--transparent-black);
  overflow: hidden;
  transition: all 0.2s ease;
  cursor: pointer;
  aspect-ratio: 4/5;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--transparent-black);

  &:hover {
    transform: translateY(-1px);    
  }

  &__image {
    width: 100%;
    flex: 0 0 80%; 
    overflow: hidden;
    display: flex;
        

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }
  }

  &:hover &__image img {
    transform: scale(1.05);
  }

  &__content {
    padding: 0.5rem 1rem;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card__title {
      font-weight: 600;      
      margin: 0 0 0.5rem 0;
      color: var(--text-color-dark, #333);
    }

    .card__description {
      color: var(--text-color-secondary, #666);
      margin: 0;      
    }
  }
}
