<section class="about page-width">
    <h2>Acerca de kitsoone</h2>
    <p>
    Creamos teclados mecánicos que combinan innovación, ergonomía y calidad, con una estética limpia y elegante. 
    Diseñamos cada detalle para ofrecer experiencias de escritura únicas.
    </p>
    <p>
    Kitsoone nació de la pasión por crear la mejor experiencia de escritura. Como entusiastas de los teclados 
    mecánicos, creemos que cada interacción con el teclado debe ser fluida, cómoda y satisfactoria.
    </p>
    <p>
    Detrás de Kitsoone hay una comunidad de ingenieros de software, diseñadores, gamers y entusiastas de los teclados
    mecánicos. Escuchamos activamente a nuestra comunidad, ya que su feedback es clave para evolucionar y perfeccionar
    cada uno de nuestros diseños.
    </p>

    <p>
    Creemos en las capacidades del open source para impulsar la mejora continua y la innovación.
    Por ello, utilizamos ZMK como firmware en nuestros teclados, permitiendo a la comunidad explorar,
    mejorar y personalizar su experiencia de escritura.
    </p>
</section>