.about { 
  &__intro {
    padding: 70px 40px;
    text-align: center;    
    max-width: 800px;
    margin: 0 auto;

    h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;        
    text-align: center;
    }

    p {
    font-size: 1rem;
    line-height: 1.9;
    margin-bottom: 1.5rem;
    text-align: left;       
    }     
  }
}