<footer class="footer">
  <div class="footer__content">
    <div class="footer__section">
      <h3>Acerca de kitsoone</h3>
      <p>Kitsoone diseña teclados mecánicos que combinan innovación y ergonomía. Impulsados 
        por una comunidad de entusiastas, ingenieros de software, diseñadores y gamers.</p>
    </div>

    <div class="footer__section">
      <h4>Políticas</h4>
      <ul>
        <li><a href="#warranty">Garantía</a></li>
        <li><a href="#return">Devoluciones</a></li>
        <li><a href="#shipping">Envíos</a></li>
      </ul>
    </div>

    <div class="footer__section">
      <h4>Contáctanos</h4>
      <div class="footer__contact">
        <a href="mailto:support@kitsoone.xyz" aria-label="Email">
          <i class="pi pi-envelope"></i>
          <span>support@kitsoone.xyz</span>
        </a>
        <a href="https://www.instagram.com/kitsoone.xyz/" aria-label="Instagram">
          <i class="pi pi-instagram"></i>
          <span>Instagram</span>
        </a>                
        <a href="https://www.facebook.com/kitsoone" aria-label="Facebook">
          <i class="pi pi-facebook"></i>
          <span>Facebook</span>
        </a>
        <a href="https://discord.gg/jkVnn6FBRt" aria-label="Discord">
          <i class="pi pi-discord"></i>
          <span>Discord</span>
        </a>
      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <p>&copy; {{ currentYear }} kitsoone. Todos los derechos reservados.</p>
  </div>
</footer>
