<section class="home">
  <div class="home__main-product">
    <div class="home__main-product-background">
      <img src="assets/images/onyx.png" alt="kitsoone Onyx Keyboard">
    </div>
    <div class="home__main-product-content page-width">
      <h1>Kitsoone Onyx</h1>       
      <div class="home__main-product-features">
        <span>Split keyboard</span> | <span>Wireless</span> | <span>Ergonomico</span> | <span>RGB</span>
      </div>     
      <button class="home__main-product-buy-button">Compra ahora</button>
    </div>
  </div>
  <div class="home__products-container page-width">
    <h2>Nuevos Productos</h2>
    <div class="home__products-container-list">
      @for(product of products; track product) {
        <kitsoone-card 
          [imageSrc]="product.image" 
          [imageAlt]="product.name"
          [title]="product.name"
          [description]="product.description">
        </kitsoone-card>
      }   
    </div>
  </div>
</section>