<section class="home">
  <div class="home__main-product">
    <div class="home__main-product-info">
      <h1>BUILD YOUR DREAM</h1>
      <h2>keyboard</h2>
      <p>Select your preferred layout, switches, keycaps and more. You can customize your keyboard and solder it together or buy a fully assembled one.</p>
      <button class="home__main-product-buy-button">BUILD NOW</button>
    </div>
    <div class="home__main-product-image">
      <img src="assets/images/sofle2.png" alt="Kitsune Product">
    </div>
  </div>
</section>

