.home {
  padding-bottom: 3rem;
  &__main-product {
    position: relative;
    height: 82vh;    
    display: flex;
    overflow: hidden;

    &-background {
      position: absolute;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        filter: brightness(0.8);
      }   
    }

    &-content {
      position: relative;
      box-sizing: border-box;
      padding: 2.5rem;
      width: 100%;    
      display: flex;
      align-items: center;
      justify-content: end;
      flex-direction: column;
      color: var(--text-color-light);

      h1 {
        font-size: 3.5rem;
        font-weight: 500;       
        line-height: 0.9;                    
        margin-bottom: 0.5rem;
      }      
    }

    &-features {
        font-size:1.3rem;
        color: var(--text-color-light);      
        margin-bottom: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
      }

    &-buy-button {
      background: var(--primary-accent);
      color: var(--text-color-light);
      border: none;
      padding: 1rem 2.5rem;
      font-size: 1.1rem;
      font-weight: 600;
      border-radius: 50px;
      cursor: pointer;
      transition: all 0.3s ease;      

      &:hover {
        background: var(--primary-accent);       
        box-shadow: 0 10px 25px rgba(211, 74, 120, 0.5);
      }
    }
  }

  &__products-container {
    &-list {
      margin-top: 2rem;
      gap: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}