<div class="announcement-bar">
    <div class="announcement-bar__content page-width">
        <div class="announcement-bar__text">
            <span>
            Envios gratis a cualquier ciudad de Colombia en pedidos superiores a 400.000 COP! ✈️
            </span>
        </div>
        <div class="announcement-bar__social-links">
            <a [href]="whatsappUrl" aria-label="WhatsApp" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-whatsapp"></i>
            </a>
            <a [href]="facebookUrl" aria-label="Facebook" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-facebook"></i>
            </a>
            <a [href]="instagramUrl" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-instagram"></i>
            </a>
            <a [href]="discordUrl" aria-label="Discord" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-discord"></i>
            </a>            
            <a [href]="githubUrl" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
                <i class="pi pi-github"></i>
            </a>            
        </div>            
    </div>
</div>