<div class="announcement-bar">
    <div class="announcement-bar__content page-width">
        <div class="announcement-bar__text">
            <span>
            Free Shipping to Colombia on Orders Over $100
            </span>   
        </div>
        <div class="announcement-bar__social-links">
            <a href="#" class="social-link" aria-label="Discord">
            <img src="assets/icons/discord.svg" alt="Discord">
            </a>
            <a href="#" class="social-link" aria-label="Instagram">
            <img src="assets/icons/instagram.svg" alt="Instagram">
            </a>
            <a href="#" class="social-link" aria-label="GitHub">
            <img src="assets/icons/github.svg" alt="GitHub">
            </a>
        </div>            
    </div>
</div>