<div class="announcement-bar">
    <div class="announcement-bar__content page-width">
        <div class="announcement-bar__text">
            <span>
            Envios gratis a cualquier ciudad de Colombia en pedidos superiores a 400.000 COP! ✈️
            </span>   
        </div>
        <div class="announcement-bar__social-links">
            <a href="https://discord.gg/jkVnn6FBRt" class="social-link" aria-label="Discord" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/discord.svg" alt="Discord">
            </a>
            <a href="https://www.instagram.com/kitsoone.xyz/" class="social-link" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/instagram.svg" alt="Instagram">
            </a>
            <a href="https://github.com/kitsoone-dev" class="social-link" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
            <img src="assets/icons/github.svg" alt="GitHub">
            </a>
        </div>            
    </div>
</div>