.announcement-bar {
  background-color: var(--primary-accent);
  box-sizing: border-box;
  display: flex;  
  align-items: center;
  font-size: 14px;
  min-height: 35px;  
  @media (max-width: 950px) {
      display: none;
    }

  &__content {
    box-sizing: border-box;  
    color: var(--text-color-light);
    display: flex;
    align-items: center;    
    gap: 8px;    
    flex: 1;
  }

  &__text {
    display: flex;
    flex: 1;
  }
  
  &__social-links {
    display: flex;    
    gap: 12px;
  }

  a {   
    display: flex;    

    img {
      width: 24px;
      height: 24px;
      padding: 0 3px;
    }  
  }
}