.announcement-bar {
  background-color: var(--primary-accent);
  box-sizing: border-box;
  display: flex;  
  align-items: center;
  font-size: 14px;
  min-height: 35px;  

  &__content {
    box-sizing: border-box;  
    color: white;
    display: flex;
    align-items: center;    
    gap: 8px;    
    flex: 1;
  }

  &__text {
    display: flex;
    justify-content: center;    
    flex: 1;
  }
  
  &__social-links {
    display: flex;    
    gap: 12px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  .social-link {   
    display: flex;

    img {
      width: 18px;
      height: 18px;      
    }  
  }
}