<nav class="navbar">
  <div class="logo">
    <img src="assets/images/kitsune_logo_256.png" alt="Kitsune Logo"/>
  </div>
  
  <div class="navbar-options-menu" (click)="toggleMenu()">
    <span class="material-symbols-outlined">menu</span>
  </div>
  
  <ul class="navbar-options" [class.mobile-menu-open]="isMobileMenuOpen" (click)="$event.stopPropagation()">
    <li (click)="onMenuItemClick()">HOME</li>
    <li (click)="onMenuItemClick()">PRODUCTS</li>
    <li (click)="onMenuItemClick()">ABOUT</li>
    <li (click)="onMenuItemClick()">CONTACT</li>
  </ul>
  
  <div class="cart-icon">
    <span class="material-symbols-outlined">
      shopping_bag
    </span>
  </div>
</nav>