.navbar {
  display: flex;
  align-items: center;
  background: var(--background-color-light);
  position: relative;
  box-sizing: border-box;
  height: 65px;

  &__logo {        
    display: flex;
    img{
      height: 35px;
    }
  }  

  &__options {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    justify-content: center;    

    li {
      display: flex;
      align-items: center;
      color: var(--text-color-dark);
      cursor: pointer;
      font-size: 1.05rem;
      font-weight: 500;    
      height: 65px;

      &:hover {
        color: var(--primary-accent);
        text-decoration: underline;
        text-decoration-color: var(--primary-accent);
        text-underline-offset: 10px;
        text-decoration-thickness: 2px;
      }
    }
  }

  &__options-menu {
    display: none;
  }

  &__right-options {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }

  .navbar-button {    
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;    

    .material-symbols-outlined {
      color: var(--text-color-dark);
      font-size: 28px;
    }
    
    &:hover .material-symbols-outlined {
      color: var(--primary-accent);
    }
  }
}


@media (max-width: 768px) {
  
}

@media (max-width: 480px) {
  
}