.navbar {
  background: var(--background-color-light);
  position: sticky;
  top: 0;
  z-index: 1000;

  &__content {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: var(--menu-height);
    border-bottom: 1px solid var(--transparent-black);
  }

  &__logo {        
    display: flex;
    background: var(--background-color-light);  
    border: none;
    cursor: pointer;
    padding: 0;

    img{
      height: 35px;
    }
  }  

  &__menu {
    display: flex;
    padding: 0;
    flex: 1 1 auto;

    &-options {
      display: flex;
      gap: 2rem;
      list-style: none;            
      flex: 1 1 auto;
      justify-content: center;

      li {
        display: flex;
        align-items: center;
        color: var(--text-color-dark);
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;    
        height: var(--menu-height);

        &:hover {
          color: var(--primary-accent);
          text-decoration: underline;
          text-decoration-color: var(--primary-accent);
          text-underline-offset: 8px;
          text-decoration-thickness: 2px;
        }
      }
    }
  }

  &__menu-toggle {
    display: none;
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .navbar-button {    
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;    
    padding: 0;

    .material-symbols-outlined {
      color: var(--text-color-dark);
      font-size: 28px;
    }
    
    &:hover .material-symbols-outlined {
      color: var(--primary-accent);
    }
  }
}

@media (max-width: 950px) {
  .navbar {    

    &__content {
      justify-content: space-between;
    }

    &__menu {
      display: none;      

      &-options {        
        overflow-y: auto;
        overflow-x: hidden;
        flex-direction: column;        
        justify-content: start;  
        gap: 0;

        li {
          width: 100%;
          height: auto;
          padding: 1rem 2rem;
          display: flex;
          justify-content: flex-start;
          transition: background-color 0.2s ease;                
          margin: 0;
          cursor: pointer;
          box-sizing: border-box;
          flex-shrink: 0;
          
          &:hover {
            color: var(--primary-accent);
            text-decoration: none;
          }
        }
      }

      &-social-links {
        margin-top: auto;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        border-top: 1px solid var(--transparent-black);
        flex-shrink: 0;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 23px;
          height: 23px;
          transition: all 0.2s ease;
          text-decoration: none;

          img {
            width: 23px;
            height: 23px;
            filter: brightness(0.1);
          }

          &:hover img {
            transform: translateY(-1px);
          }
        }
      }
    }

    &__menu-toggle {
      display: flex;
      padding: 2px 0 0 0;
      background: transparent;
      border: none;
      cursor: pointer;
      
      .material-symbols-outlined {
        color: var(--text-color-dark);
        font-size: 28px;
      }

      &:hover .material-symbols-outlined {
        color: var(--primary-accent);
      }
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &__sidebar {
      display: flex;
      position: fixed;
      margin: auto;
      top: 0;
      right: 0;
      width: 80%;
      height: 100vh;
      max-height: 100vh;
      background: var(--background-color-light);
      flex-direction: column;
      z-index: -1;
      animation: slideInRight 0.3s ease-in-out;
      box-sizing: border-box;
      padding-top: calc(var(--menu-height) + 1rem);
      overflow: hidden;       
    }
      
    @keyframes slideInRight {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
  }
}