<nav class="navbar page-width">

  <button class="navbar__logo" (click)="onLogoClick()" aria-label="Go to homepage">
    <img src="assets/images/kitsoone_logo.png" alt="kitsoone Logo"/>
  </button>

  <button class="navbar__options-menu" (click)="toggleMenu()" aria-label="Toggle menu">
    <span class="material-symbols-outlined">{{ isMobileMenuOpen ? 'close' : 'menu' }}</span>
  </button>
  
  <ul class="navbar__options" [class.mobile-menu-open]="isMobileMenuOpen">    
    <li (click)="onMenuItemClick(); $event.stopPropagation()">Productos</li>
    <li (click)="onMenuItemClick(); $event.stopPropagation()">Guias</li>
    <li (click)="onMenuItemClick(); $event.stopPropagation()">Acerca de</li>
    <li (click)="onMenuItemClick(); $event.stopPropagation()">Contacto</li>
  </ul> 

  <div class="navbar__right-options">
    <button class="navbar__search navbar-button">
      <span class="material-symbols-outlined">
        search
      </span>
    </button>

    <button class="navbar__profile navbar-button">
      <span class="material-symbols-outlined">
        person
      </span>
    </button>

    <button class="navbar__cart-button navbar-button" (click)="onCartClick()">
      <span class="material-symbols-outlined">
        shopping_bag
      </span>
    </button>
  </div>

</nav>