.navbar {
  display: flex;
  align-items: center;
  background: var(--background-color-light);
  position: sticky;
  top: 0;
  box-sizing: border-box;
  height: var(--menu-height);
  z-index: 1000;

  &__logo {        
    display: flex;
    background: var(--background-color-light);  
    border: none;
    cursor: pointer;
    padding: 0;

    img{
      height: 35px;
    }
  }  

  &__options {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1 1 auto;
    justify-content: center;    

    li {
      display: flex;
      align-items: center;
      color: var(--text-color-dark);
      cursor: pointer;
      font-size: 1.05rem;
      font-weight: 500;    
      height: var(--menu-height);

      &:hover {
        color: var(--primary-accent);
        text-decoration: underline;
        text-decoration-color: var(--primary-accent);
        text-underline-offset: 8px;
        text-decoration-thickness: 2px;
      }
    }
  }

  &__options-menu {
    display: none;
  }

  .mobile-menu-open {
    display: flex;
  }

  &__right-options {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .navbar-button {    
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;    
    padding: 0;

    .material-symbols-outlined {
      color: var(--text-color-dark);
      font-size: 28px;
    }
    
    &:hover .material-symbols-outlined {
      color: var(--primary-accent);
    }
  }
}

@media (max-width: 1000px) {
  .navbar {
    justify-content: space-between;

    &__options {
      display: none;
      gap: 0;
    }

    &__options-menu {
      display: flex;          
      background: transparent;
      border: none;
      cursor: pointer;
      
      .material-symbols-outlined {
        color: var(--text-color-dark);
        font-size: 28px;
      }

      &:hover .material-symbols-outlined {
        color: var(--primary-accent);
      }
    }

    &__right-options {
      display: none;
    }

    .mobile-menu-open {
      position: fixed;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      background: var(--background-color-light);
      flex-direction: column;
      z-index: -1;
      animation: slideInRight 0.3s ease-in-out;
      box-sizing: border-box;
      padding-top: var(--menu-height);
      justify-content: flex-start;      

      li {
        width: 100%;
        height: auto;
        padding: 1.2rem 2rem;
        justify-content: flex-start;
        transition: background-color 0.2s ease;                
        margin: 0;
        
        &:hover {
          background: var(--transparent-black);
          color: var(--primary-accent);
          text-decoration: none;
        }
      }
    }
      
    @keyframes slideInRight {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0);
      }
    }
  }
}