<nav class="navbar">
  <div class="navbar__content page-width">
    <button class="navbar__logo" (click)="onLogoClick()" aria-label="Go to homepage">
      <img src="assets/images/kitsoone_logo.png" alt="kitsoone Logo"/>
    </button>

    <ul class="navbar__menu" [class.navbar__sidebar]="isSidebarMenuOpen">
      <div class="navbar__menu-options">
        <li (click)="onMenuItemClick(); $event.stopPropagation()">Productos</li>
        <li (click)="onMenuItemClick(); $event.stopPropagation()">Guias</li>
        <li (click)="onMenuItemClick(); $event.stopPropagation()">Acerca de</li>
        <li (click)="onMenuItemClick(); $event.stopPropagation()">Contacto</li>
      </div>

      <div class="navbar__menu-social-links">
        <a href="https://discord.gg/jkVnn6FBRt" aria-label="Discord" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/discord.svg" alt="Discord">
        </a>
        <a href="https://www.instagram.com/kitsoone.xyz/" aria-label="Instagram" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/instagram.svg" alt="Instagram">
        </a>
        <a href="https://github.com/kitsoone-dev" aria-label="GitHub" target="_blank" rel="noopener noreferrer">
          <img src="assets/icons/github.svg" alt="GitHub">
        </a>
      </div>
    </ul>

    <div class="navbar__actions">
      <button class="navbar__search navbar-button">
        <span class="material-symbols-outlined">
          search
        </span>
      </button>

      <button class="navbar__profile navbar-button">
        <span class="material-symbols-outlined">
          person
        </span>
      </button>

      <button class="navbar__cart-button navbar-button" (click)="onCartClick()">
        <span class="material-symbols-outlined">
          shopping_bag
        </span>
      </button>

      <button class="navbar__menu-toggle" (click)="toggleMenu()" aria-label="Toggle menu">
        <span class="material-symbols-outlined">{{ isSidebarMenuOpen ? 'close' : 'menu' }}</span>
      </button>
    </div>
  </div>
</nav>