@use './themes.scss';

:root {
  --page-width: 100rem;
  --menu-height: 65px;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-white);  
}

body {    
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.page-width {
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 3rem;

    @media (max-width: 1000px) {
      padding: 0 1.5rem;
    }

    @media (max-width: 500px) {
      padding: 0 0.8rem;
    }
}
