:root {
  --background-color-dark: #191c20;
  --background-color-light: #ffffff;
  --background-color-gray: #F1F1F1;
  --primary-accent: #d9026e;
  --primary-accent-box-shadow: rgba(211, 74, 120, 0.6);
  --text-color-light: #ffffff;
  --text-color-dark: #222;
  --transparent-white: rgba(255,255,255,0.1);
  --transparent-black: rgba(0,0,0,0.1);  
}