:root {
  --background-color-dark: #191c20;
  --background-color-light: #ffffff;
  --primary-accent: #d9026e;
  --text-color-light: #ffffff;
  --text-color-dark: #222;
  --transparent-white: rgba(255,255,255,0.05);
  --transparent-black: rgba(0,0,0,0.01);
}